

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "FiraSans";
    src: url("./assets/fonts/FiraSans-Light.ttf");
}
@font-face {
    font-family: "OpenSans";
    src: url("./assets/fonts/OpenSans_Condensed-Light.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Thin.ttf");
}


body {
    background-color: #fffbf0;
    scroll-behavior: smooth;
}

@layer components {
    .nav_btn {
        @apply  font-sans text-gold font-bold text-[16px]  px-[30px] py-[10px] leading-[22px];
    }
    .nav_btn:hover {
        @apply w-full;
    }
    .li_btn{
        @apply  text-white text-[12px] py-[10px] px-[30px] 
    }
    .li_btn:hover{
        @apply ring-2 ring-opacity-40 ring-white
    }
  }
@layer utilities {
    .section {
        min-height: 100vh;
        display:flex;
        align-items: center;
        justify-content: center;
    }
}